# Allow the console to make a command when a player leave the server while he is frozen
disconnect-action:
  enabled: true
  commands:
    - "money set {player} 0"
    - "ban {player} {reason}"

# Block the player from making commands when he is frozen
block-commands:
  enabled: true
  whitelist: []

# Unfreeze the player if he disconnect while being frozen
unfreeze-on-disconnect: true

# Enable the toggle function so when you type /freeze or /unfreeze it can freeze and unfreeze the player
freeze-toggle: true

# Block the Y axe of movement while frozen avoiding players to jump or flying up and down
block-y-axis: true

# Set the freeze message cooldown in seconds to not spam the player chat while the player moves
freeze-message-cooldown: 5

# You can find all the available sound here https://hub.spigotmc.org/javadocs/spigot/org/bukkit/Sound.html
# Sound played when the target is freezed
freeze-sound: GHAST_SCREAM

# Sound played when the target is unfreezed
unfreeze-sound: PIG_DEATH

# Disable the interaction of a frozen player
disable-interaction: true

# Disable the damages of a frozen player
disable-damages: true

# Disable the possibility to place blocks from a frozen player
disable-block-place: true

# Disable the possibility to break block from a frozen player
disable-block-break: true

control-location: